<body>
<div id="encabezado">
    <h3>Informacion sobre el <%= title %></h3>
</div>

<div id="informacion">
    Jonatán Benjamín López<p></p>

    <p></p>

    <div id="imagen">
        <img src="images/autor.PNG" width="100px" height="100px">
    </div>

</div>
