<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<h3>Bienvenido a <%= title %></h3><br/>

<p>El portal donde podra crear sus propios juegos!</p><br/>

<p></p><a href="/quizes">Comience a jugar</a></p>
