<p></p>
<form method="get" action="/quizes/<%= quiz.id %>/answer">
    Pregunta: <%= quiz.pregunta %><p></p></br>
    <input type="text" name="respuesta" required placeholder="Responda aqui"/>
    <input type="submit" value="Enviar">
</form>
